<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
